root {
    --textColor: rgb(65, 64, 66);
    --btnBgColor: #3287b7;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Neutrif Pro';
    background-color:#f2f0e4 !important;

   
}

a {
    text-decoration: none;
}

button {
    outline: none ! important;
}

.primaryBtn {
    background-color: blue;
    color: #ffff;
    padding: 0.5em 1.5em;
    border-radius: 2em;
    font-size: 1.0em;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    position: relative;
    top: 0.2em;
    left: 0.1em;
}

.linked {
    display: inline-block;
}